{{template "base" .}}

{{define "main"}}
    <h2>Shutters calculator</h2>
    {{if .Fabrics}}
        <div>
            <select name="select">
                {{range .Fabrics}}
                <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
            </select>
            <select name="select">
                {{range .ProfilesWidth}}
                <option value="{{.Width}}">{{.Width}}</option>
                {{end}}
            </select>
            <select name="select">
                {{range .ProfilesHeight}}
                <option value="{{.Height}}">{{.Height}}</option>
                {{end}}
            </select>
        </div>
        <table>
            <tr>
                <th>ID</th>
                <th>Категория</th>
                <th>Название</th>
                <th>Цена, &#8381;</th>
            </tr>
            {{range .Fabrics}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Category.Name}}</td>
                <td>{{.Name}}</td>
                <td>{{.Category.Price}}</td>
            </tr>
            {{end}}
        </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}