{{template "base" .}}

{{define "main"}}
    <h2>Shutters calculator</h2>
    {{if .Fabrics}}
        <table>
            <tr>
                <th>ID</th>
                <th>Категория</th>
                <th>Название</th>
                <th>Цена, &#8381;</th>
            </tr>
            {{range .Fabrics}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Category.Name}}</td>
                <td>{{.Name}}</td>
                <td>{{.Category.Price}}</td>
            </tr>
            {{end}}
        </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}